# Node modules
node_modules/

# Environment files
.env

# Logs
logs/
log/
*.log

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / temp files
dist/
build/
tmp/
*.tmp
coverage/

#assets
assets